
#galeria_base{
  margin: 2rem;
}
div.pasteleria ul li h2 {
  color: black;
  letter-spacing: 5px;
}
div.pasteleria ul li {
  float: left;
  width: 20px;
  list-style: none;
  margin-left: 200px;
  margin-top: 50px;
}
div.pasteleria ul li h2 {
  color: black;
}

div.reposteria ul li h2 {
  color: black;
  letter-spacing: 5px;
}
div.reposteria ul li {
  float: left;
  width: 20px;
  list-style: none;
  margin-left: 200px;
  margin-top: 100px;
}
div.reposteria ul li h2 {
  color: black;
}
.pyr_img {
  width: 160px;
  height: 120px;
  box-shadow: 10px 9px 8px #666;
}

div.gallery{
  margin: 10px 50px;
}
div.gallery img{
  width: 160px;
  height: 130px;
  padding: 5px;
  filter: grayscale(50%);
  transition: 1s;
}
div.gallery img:hover{
  filter:grayscale(0);
  transform:scale(1.1);
}

div.gallery1{
  margin: 10px 50px;
}
div.gallery1 img{
  width: 160px;
  height: 100px;
  padding: 5px;
  filter: grayscale(50%);
  transition: 1s;
}
div.gallery1 img:hover{
  filter:grayscale(0);
  transform:scale(1.1);
}

